@model News


<div class="col-lg-6">
	<div class="border-0 mb-4">
		<div class="g-item-news" style="background-image:url('@Model.ImagePathLink');"></div>
		<div class="card-body">
			<a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id"><h4> @Model.Title</h4></a>

			<div class="card-text border-0">
				<div>@Html.Raw("<p>" + @Model.ShortDescription + "</p>")</div>
			</div>

			<div class="col-lg-12 mt-3 mb-3">
				<div class="row">
					<div class="col-sm-2 col-lg-4">
						<a class="btn btn-white py-3 px-4" asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">Читать</a>
					</div>
					<div class="col-md-3 col-lg-8 text-md-right news-data mt-4">
						<p class="m-0 align-bottom">@Model.UploadDate.ToLongDateString()</p>
					</div>
				</div>
			</div>

			<hr class="divider" />
			<div class="col-lg-12">
				<p>Поделиться</p>
				<div class="row px-3">
					<div class="fb-share-button" data-href="https://@Context.Request.Host@Context.Request.PathBase/Details/@Model.Id" data-layout="button_count" data-size="large">
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
					</div>
					<a class="twitter-share-button ml-1 mr-1" href="https://twitter.com/intent/tweet?url=https://@Context.Request.Host@Context.Request.PathBase/Details/@Model.Id" data-size="large" data-url="https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview"><i class="fab fa-twitter"></i> Tweet </a>
					<script type="text/javascript">document.write(VK.Share.button(false, { type: "round", text: "Share" }));</script>
				</div>
			</div>

			<div id="fb-root"></div>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2856888197771508&autoLogAppEvents=1"></script>

			@if (User.Identity.IsAuthenticated)
			{
				<div class="col-lg-12 mt-3 mb-3 text-center">
					<a class="btn btn-warning" name="Edit" asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i>Редактировать</a>
					<a class="btn btn-danger" name="Delete" asp-controller="News" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Вы уверены, что хотите это удалить?');"><i class="fas fa-trash"></i> Удалить</a>
				</div>
			}
		</div>
	</div>
</div>
