@model Doctor

<div class="col-md-4 mb-5">
	<div class="card h-100">
		<img class="img-fluid w-100" src="@Model.ImagePath" alt="@Model.FirstName Thumbnail" />
		<div class="card-body">
			<h4><a asp-controller="Doctors" asp-action="Details" asp-route-id="@Model.Id">@Model.FirstName @Model.LastName</a></h4>
			<h4>@Model.Contacts.Email</h4>
			<h4>@Model.Contacts.Phone</h4>
		</div>
		<div class="card-footer">
			<a class="btn btn-dark" name="Delete" asp-controller="Doctors" asp-action="Remove" asp-route-id="@Model.Id">Delete</a>
			<a class="btn btn-dark" name="Delete" asp-controller="Doctors" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
		</div>
	</div>
</div>