@model Service

@{
	ViewData["Title"] = Model.Title;
}

<div class="container mt-3 mb-4">
	<div class="row">
		<div class="col-lg-3">
			<div class="g-item-services-details m-auto" style="background-image: url(../@Model.ImagePathLink)"></div>
			<div class="figure-caption p-3 text-center">
				<h3>@Model.Title</h3>
				@if (Model.Price <= 1)
				{
					<h4>Цена: договорная</h4>
				}
				else
				{
					<h4>Цена: @Model.Price.ToString()</h4>
				}
			</div>
			<a class="btn btn-custom-primary btn-block py-2" name="New" asp-controller="ContactUs" asp-action="New">Оставьте заявку</a>
		</div>
		<div class="col-lg-9 mt-sm-4">
			@if (string.IsNullOrEmpty(Model.Description))
			{
				<p>Описание отсутствует</p>
			}
			else
			{
				<p>@Html.Raw(@Model.Description)</p>
			}

			@if (User.Identity.IsAuthenticated)
			{
				<p class="btn float-right">
					<a class="btn btn-dark" name="Edit" asp-controller="Services" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
					<a class="btn btn-danger" name="Delete" asp-controller="Services" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Вы уверены, что хотите это удалить?');">Удалить</a>
				</p>
			}
		</div>
	</div>
</div>

