@model Service


<div class="col-md-4 mb-5 px-2">
	<div class="card h-100 border-0">
		<a class="mt-2 d-block" asp-controller="Services" asp-action="Details" asp-route-id="@Model.Id">
			<div class="g-item-services m-auto" style="background-image:url('@Model.ImagePathLink');"></div>
		</a>
		<div class="card-body text-center">
			<p class="small">@Model.ServiceCategory.Title</p>

			@if (@Model.Price > 0)
			{
				<p class="small">Цена: @Model.Price</p>
			}
			else
			{
				<p class="small">Цена: договорная</p>
			}

			<hr class="divider" />
			<h4 class="mb-1">@Model.Title</h4>
		</div>
		<div class="text-center mb-3">
			<a class="btn btn-custom-primary mb-3" asp-controller="Services" asp-action="Details" asp-route-id="@Model.Id">Смотреть</a>
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div class="card-footer text-center">
				<a class="btn btn-danger" name="Delete" asp-controller="Services" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Вы уверены, что хотите это удалить?');"><i class="fas fa-trash-alt"></i></a>
				<a class="btn btn-warning" name="Edit" asp-controller="Services" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
			</div>
		}
	</div>
</div>