@model Service

<div class="col-md-4 mb-5">
	<div class="card h-100">
		<img class="img-fluid w-100" src="@Model.ImagePath" alt="@Model.Title Thumbnail" />
		<div class="card-body">
			<h4><a asp-controller="Services" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h4>
			<h4>@Model.Price.ToString("c")</h4>
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div class="card-footer">
				<a class="btn btn-danger" name="Delete" asp-controller="Services" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Вы уверены, что хотите это удалить?');">Удалить</a>
				<a class="btn btn-dark" name="Edit" asp-controller="Services" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
			</div>
		}
	</div>
</div>