@model AboutUs

@{
	ViewData["Title"] = "О компании";
}

@if (User.Identity.IsAuthenticated)
{
	<!-- HEADER -->
	<section id="header" class="py-2 bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>
						<i class="fas fa-cog"></i> Управление информацией компании
					</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- ACTIONS -->
	<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="px-3">
					<a class="btn btn-warning" name="Edit" asp-controller="AboutUs" asp-action="Edit"><i class="fas fa-edit"></i> Редактировать</a>
				</div>
			</div>
		</div>
	</section>
}

<section id="description">
	@if (Model != null)
	{
		<div class="jumbotron">
			<h1 class="display-3">@Model.Title</h1>
			<hr class="my-4">
			<p>
				@Html.Raw(@Model.Description)
			</p>
			<hr class="my-4">
			<p>Телефон: @Model.Contacts.Phone</p>
			<p>Email: @Model.Contacts.Email</p>
			<p>Наш адрес: @Model.Contacts.Address</p>
		</div>
	}
</section>
