@model AboutUs

@{
	ViewData["Title"] = "О компании";
}

@if (User.Identity.IsAuthenticated)
{
	<div class="card my-4">
		<h5 class="card-header">Управление</h5>
		<div class="card-body">
			<div class="input-group">
				<a class="btn btn-primary" name="Edit" asp-controller="AboutUs" asp-action="Edit">Редактировать</a>
			</div>
		</div>
	</div>
}

@if (Model != null)
{
	<div class="jumbotron">
		<h1 class="display-3">@Model.Title</h1>
		<hr class="my-4">
		<p>
			@Html.Raw(@Model.Description)
		</p>
		<p class="lead">
		<p>@Model.Contacts.Phone</p>
		<p>@Model.Contacts.Email</p>
		<p>@Model.Contacts.Address</p>
		<a class="btn btn-primary" href="#!" role="button">Learn more</a>
		</p>
	</div>
}
