@model AboutUs

@{
	ViewData["Title"] = "О компании";
}

@if (User.Identity.IsAuthenticated)
{
	<!-- HEADER -->
	<section id="header" class="py-2 bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>
						<i class="fas fa-cog"></i> Управление информацией компании
					</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- ACTIONS -->
	<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="px-3">
					<a class="btn btn-warning" name="Edit" asp-controller="AboutUs" asp-action="Edit"><i class="fas fa-edit"></i> Редактировать</a>
				</div>
			</div>
		</div>
	</section>
}

<section id="description" class="pt-4 mb-3">
	<div class="container">
		<div class="col-lg-12 text-center">
			<img class="big-logo" src="~/img/logo/3x/Asset 1@3x.png" alt="Company Logo" />
			<hr class="divider logo-divider" />
		</div>
		<div class="col-lg-12">
			<div>
				<h1 class="display-3">@Model.Title</h1>
				<hr class="my-4">
				<p>
					@Html.Raw(@Model.Description)
				</p>
				<hr class="my-4">
				<h3 class="mb-3">Контакты</h3>
				<div>
					<p><i class="fas fa-phone"></i> Телефон: @Model.Contacts.Phone</p>
					<p><i class="fas fa-inbox"></i> Email: @Model.Contacts.Email</p>
					<p><i class="fas fa-map-marker-alt"></i> Наш адрес: @Model.Contacts.Address</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-3">
			<div class="row justify-content-center">
				@if (!string.IsNullOrEmpty(Model.Contacts.Website))
				{
					<a class="social-link" href="@Model.Contacts.Website"><i class="fas fa-newspaper"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.YouTube))
				{
					<a class="social-link" href="@Model.Contacts.YouTube"><i class="fab fa-youtube"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.Instagram))
				{
					<a class="social-link" href="@Model.Contacts.Instagram"><i class="fab fa-instagram"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.LinkedIn))
				{
					<a class="social-link" href="@Model.Contacts.LinkedIn"><i class="fab fa-linkedin"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.Facebook))
				{
					<a class="social-link" href="@Model.Contacts.Facebook"><i class="fab fa-facebook"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.VKontakte))
				{
					<a class="social-link" href="@Model.Contacts.VKontakte"><i class="fab fa-vk"></i></a>
				}
				@if (!string.IsNullOrEmpty(Model.Contacts.Twitter))
				{
					<a class="social-link" href="@Model.Contacts.Twitter"><i class="fab fa-twitter"></i></a>
				}
			</div>
		</div>
	</div>
</section>

<section class="container mb-4" id="contact-us">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-center">
				<h4>Оставьте заявку</h4>
			</div>
			<div class="card-body">
				<form id="contact-modal-form" method="post" role="form">
					<fieldset>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="firstName" class="col-form-label">Имя</label>
									<input name="firstName" required class="form-control" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="lastName" class="col-form-label">Фамилия</label>
									<input name="lastName" required class="form-control" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="phone" class="col-form-label">Телефон</label>
									<input name="phone" required class="form-control" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="email" class="col-form-label">Email</label>
									<input name="email" required class="form-control" />
								</div>
							</div>
						</div>

						<div class="col lg-12">
							<div class="form-group">
								<label for="message" class="col-form-label">Сообщение</label>
								<textarea name="message" required id="text-editor" rows="5" class="form-control"></textarea>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<input id="button-submit" type="submit" class="btn btn-custom-primary btn-block" value="Отправить" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>

<section>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d831.6585353898095!2d39.31632969360202!3d48.56483458537311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x411fc54d15c5f2ad%3A0xfa53631ad8491429!2z0JjQmNCc0J7QodCf0J0sINCY0LwuINCi0LDRgNCw0YHQsCDQqNC10LLRh9C10L3QutC-LCDQmNC90YHRgtC40YLRg9GCINC40YHRgtC-0YDQuNC4LCDQvNC10LbQtNGD0L3QsNGA0L7QtNC90YvRhSDQvtGC0L3QvtGI0LXQvdC40Lkg0Lgg0YHQvtGG0LjQsNC70YzQvdC-LdC_0L7Qu9C40YLQuNGH0LXRgdC60LjRhSDQvdCw0YPQug!5e0!3m2!1sru!2sua!4v1582838036609!5m2!1sru!2sua" id="google-map" allowfullscreen=""></iframe>
</section>


@section Scripts {
	<script src="~/js/about-us-form.js" asp-append-version="true"></script>
}