@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

@{
	ViewData["Title"] = "Редактировать роль";
}

<div class="container">

	<!-- HEADER -->
	<section id="header" class="py-2 bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>
						<i class="fas fa-cog"></i> Изменение роли: @Model.UserEmail
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="card">
		<div class="card-header">
			<h4>Список ролей</h4>
		</div>
		<div class="card-body">
			<form asp-action="Edit" method="post">
				<input type="hidden" name="userId" value="@Model.UserId" />
				<div class="form-group">
					@foreach (IdentityRole role in Model.AllRoles)
					{
						<input type="checkbox" name="roles" value="@role.Name"
							   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
						}
				</div>
				<button type="submit" class="btn btn-warning">Сохранить</button>
			</form>
		</div>
	</div>

</div>
