@model News

@{
	ViewData["Title"] = @Model.Title;
}

	<div class="card col-md-12 border-0 pb-3 mb-0">
		<div class="g-item-news-details" style="background-image:url('../@Model.ImagePathLink');"></div>
		<div class="card-body">
			<h2 class="card-title">@Model.Title</h2>
			<p class="card-text">@Html.Raw(@Model.Description)</p>

			@if (User.Identity.IsAuthenticated)
			{
				<a class="btn btn-warning" name="Edit" asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i>Редактировать</a>
				<a class="btn btn-danger" name="Delete" asp-controller="News" asp-action="Remove" asp-route-id="@Model.Id" onclick="return confirm('Вы уверены, что хотите это удалить?');"><i class="fas fa-trash"></i>Удалить</a>
			}
		</div>
		<div class="col-md-3 col-lg-8 text-md-right news-data ml-auto">
			<p class="m-0 align-bottom">Загружено @Model.UploadDate.ToLongDateString()</p>
			<p class="m-0 align-bottom">Редактировано @Model.EditDate.ToLongDateString()</p>
		</div>
	</div>