@model News

<div class="card mb-4">
	<img class="card-img-top" src="@Model.ImagePath" alt="Card image cap">
	<div class="card-body">
		<h2 class="card-title">@Model.Title</h2>
		<p class="card-text">@Html.Raw(@Model.ShortDescription)</p>
		<a class="btn btn-dark" asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">Read More &rarr;</a>
	</div>
	<div class="card-footer text-muted">
		Posted on @Model.UploadDate.ToLongDateString() <br />
		Last Edited on @Model.EditDate.ToLongDateString() <br />
	</div>
</div>