@model News

@{
    ViewData["Title"] = "Добавить новость";
}

@if (Model.Id == 0)
{
    <h2>Создать</h2>
}
else
{
    <h2>Редактировать: @Model.Title</h2>
}

<div class="row">
    <div class="col-md-9">
        <form asp-controller="News" asp-action="Save" method="post" role="form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="@Model.Id" type="hidden" />

            <div class="form-group">
                <label asp-for="@Model.Title" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="@Model.Title" class="form-control" />
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <textarea asp-for="@Model.Description" rows="5" id="text-editor" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ImagePath" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <span asp-validation-for="@Model.ImagePath" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <input type="submit" class="btn btn-dark" value="Save" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Image Preview</h4>
        @if (string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail">
        }
        else
        {
            <img src="../@Model.ImagePath" id="preview" class="img-thumbnail">
        }
    </div>
</div>

@section scripts
{
    <link rel="stylesheet" href="~/lib/trumbowyg/ui/trumbowyg.min.css">
    <script src="~/lib/trumbowyg/trumbowyg.min.js"></script>

    <script>
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });

        $('#text-editor').trumbowyg();
    </script>

}

